html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-container {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#map {
  position: absolute;
  left: 22em;
  top: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 876px) {
  #map {
    left: 0;
    bottom: 50%;
  }
  #sidenav {
    top: 50%;
    right: 0;
    width: unset;
  }
}

#logo {
  color: #e63946;
  text-align: center;
  border-bottom: 1px black dotted;
  line-height: 90px;
  margin-bottom: 30px;
}

.star {
  background-size: 14px 14px;
  background-image: url(//maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_14.png);
  height: 14px;
  width: 14px;
  vertical-align: top;
  margin-top: 3px;
  display: inline-block;
}

.star--half {
  background-image: url(//maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_half_14.png);
}

/* ------------- RESTAURANT PANEL ------------------------------- */

#sidenav {
  position: absolute;
  left: 0;
  width: 22em;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background: white;
  padding: 0.5em;
  box-sizing: border-box;
}

#restaurants {}

.restaurant {
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;
  background-color: rgba(255, 255, 255, 1);
}

.restaurant__name {
  font-weight: bold;
}

.restaurant__address {
  color: rgb(145, 143, 143);
}

.restaurant:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.restaurant__button {
  font-size: 0.9em;
  color: #7e7efd;
}

/* ------------- DETAILS PANEL ------------------------------- */

#locations-panel-details {
  position: absolute;
  left: 0;
  width: 22em;
  top: 0;
  bottom: 0;
  background: white;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.restaurantDetails {
  height: 100%;
}

.restaurantDetails__photo {
  padding-bottom: 2em;
}

.restaurantDetails__photo>img {
  max-width: 100%;
  height: auto;
}

.restaurantDetails__name {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  padding-bottom: 1em;
}

.restaurantDetails__address {
  text-align: center;
  padding-bottom: 2em;
  color: rgba(27, 26, 26, 0.952);
}

.restaurantDetails__ratings {
  border-top: 1px solid black;
  width: 100%;
  background-color: #f7f7f7;
  height: 100%;
}

.restaurantDetails__ratings>h3 {
  padding-left: 1em;
}

.rating {
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
}

.rating__stars {
  margin-bottom: 1em;
}